#mainDiv {
  width: 600px;
  height: 400px;
  border: 3px solid black;
  margin-left: 100px;
}

.barChart {
  border: 1px solid black;
  display: table;
}

.right {
  text-align: right;
}

.xAxis {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
}

.yAxis {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
}

.textInsideBarChart {
  display: table-cell;
  position: relative;
}

.barChart-top {
  text-align: center;
  vertical-align: top; 
}

.barChart-center {
  text-align: center;
  vertical-align: middle;  
}

.barChart-bottom {
  text-align: center;
  vertical-align: bottom;  
}

.barChart-left {
  vertical-align: middle; 
}

.barChart-right {
  vertical-align: middle;  
}

.xAxis-labels {
  transform: translateY(-2em);
}

.yAxis-labels {
  transform: translateX(-2em);
}

.labelX {
  margin: 0;
  padding: 0;
  display: table-row;
  vertical-align: baseline;
  height: 1%;
  text-align: center;
  transform: translateY(2em);
}

.labelY {
  display: table-row;
  margin: 0;
  padding: 0;
  height: 1%;
  transform: translateX(-100px) translateY(-31px);

}

.corrective-styling {
  padding-top: 1em;
}